.container {
    width: 1600px;
    background-color: #EBEEEC;
    height: auto;
}
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image {
    width: 200px;
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #ccc;
}